<app-header></app-header>
<div class="container-fluid mt-2">
    
    <h2>Account Opening Form</h2>
    <p style="text-align: justify;">This is Dummy content: Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, cum aliquam, dignissimos voluptates quidem illo repellat tempore neque eos, beatae tempora deleniti repudiandae est vero! Itaque harum amet ratione tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, cum aliquam, dignissimos voluptates quidem illo repellat tempore neque eos, beatae tempora deleniti repudiandae est vero! Itaque harum amet ratione tempore!</p>

    <div class="row mt-3 mb-3">
        <div class="col-4 mt-2 text-center">
            <img style="width: 300px;"  src="https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png" alt="register image">
            <br>
            <button class="btn btn-warning mt-2"> <i class="fa-solid fa-square-left"></i> Back</button>
        </div>
        <div class="col-8">
            <form (ngSubmit)="register()" [formGroup]="registerForm"  class="border p-5 m-2">
                <div class="form-floating mb-2">
                    <input name="uname" formControlName="uname" type="text" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <!-- invalid uname -->
                <div *ngIf="this.registerForm.get('uname')?.errors&&this.registerForm.get('uname')?.touched" class="text-danger mb-2">Invalid Username</div>
    
                <div class="form-floating mb-2">
                    <input name="acno" formControlName="acno" type="text" class="form-control" id="floatingInput" placeholder="Account Number">
                    <label for="floatingInput">Account Number</label>
                </div>
                <!-- invalid acno -->
                <div *ngIf="this.registerForm.get('acno')?.errors&&this.registerForm.get('acno')?.touched" class="text-danger mb-2">Invalid Account Number</div>
    
                <div class="form-floating mb-2">
                    <input name="pswd" formControlName="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
    
                   <!-- invalid pswd -->
                <div *ngIf="this.registerForm.get('pswd')?.errors&&this.registerForm.get('pswd')?.touched" class="text-danger mb-2">Invalid Password</div>
    
                <div class="mt-4">
                    <button  type="submit" class="btn btn-primary">
                        Register
                    </button>
                    &nbsp; 
                    <span>
                        Already A User? Click Here to <a routerLink="/">Login</a> 
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>    